Source: skaiciai  
Maintainer: Vytenis Bivainis <monrealis@gmail.com>
Standards-Version: 3.9.3
Section: utils

Package: skaiciai  
Priority: extra  
Architecture: any
Description: Skaičių konvertavimo į lietuvių kalbos skaitvardžius biblioteka.
